:root{
    --color-dark: #090a12;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    box-sizing: inherit;
}
body{
    background-color: var(--color-dark);
}

section{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div{
    position: relative;
    width: 250px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

div img:first-child {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

div img:last-child {
    width: 200px;
    object-fit: cover;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    opacity: 0;
}

div:hover{
    transform: 
        perspective(250px)
        rotatex(10deg)
        translateY(-5%)
        translateZ(0);
}

div::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0) 95%);
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

div:hover::before {
    opacity: 1;
}

div:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
}

.mario-shadow{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
}

.luigi-shadow{
    box-shadow: 0 60px 60px -60px rgba(33, 160, 50, 0.5);
}

.toad-shadow{
    box-shadow: 0 60px 60px -60px rgba(134, 135, 140, 0.5);
}
